$light-green: #EFF6E7;
$green: #E0EDCF;
$dark-green: #63A60F;

$red: #CF3E3B;
$orange: #FF7A00;
$yellow: #FFB800;

$dark-silver: #C1C1C1;
$silver: #F6F6F6;
$white: #FFFFFF;

$black900: #121212;
$black800: #31352B;
$black500: #505050;